In [48]:
import numpy as np

In [13]:
import pandas as pd

In [41]:
f = pd.read_excel("https://knute.edu.ua/file/MjY=/0c7de560c133001b06847d812c316c70.xls", 
                  sheet_name=None, header=None)

In [32]:
l = list(f.keys())

In [172]:
l

['з 08.02 Розклад', 'Начитка', 'Лист3']

In [22]:
for r in a.iterrows():
    print(r)

(5, Unnamed: 0     NaN
Unnamed: 1     NaN
Unnamed: 2     NaN
Unnamed: 3     NaN
Unnamed: 4     NaN
Unnamed: 5     NaN
Unnamed: 6     NaN
Unnamed: 7     NaN
Unnamed: 8     NaN
Unnamed: 9     NaN
Unnamed: 10    NaN
Unnamed: 11    NaN
Затверджую     NaN
Unnamed: 13    NaN
Unnamed: 14    NaN
Unnamed: 15    NaN
Unnamed: 16    NaN
Unnamed: 17    NaN
Unnamed: 18    NaN
Name: 5, dtype: object)

In [43]:
f['з 08.02 Розклад'][5:10]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
5,Номер\nтижня,День\nтижня,Пара\n,On-line,On-line,On-line,On-line,On-line,On-line,On-line,On-line,On-line,On-line,On-line,On-line,On-line,Пара\n,День\nтижня,Номер\nтижня
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Номер\nтижня,День\nтижня,Пара\n,1 група,2 група,3 група,4 група,5 група,6 група,6мб група,7 група,8 група,9 група,10 група,11 група,12 група,Пара\n,День\nтижня,Номер\nтижня
8,Перший тиждень,Понеділок,1,Л Економічна теорія,Л Технологія створ стартапу В,Л Технологія створ стартапу В,Л Комп'ютерні ТехнОбр та ВізДан,Л Комп'ютерні ТехнОбр та ВізДан,Л Комп'ютерні ТехнОбр та ВізДан,Л Комп'ютерні ТехнОбр та ВізДан,NaN,П Психологія В,Л Технологія створ стартапу В,Лб1 Інженерна та комп'ют графіка В,Лб1 Алгоритмізація та програм,П Інмов за профспрям (Англ мова 2) В,1,Понеділок,Перший тиждень
9,NaN,NaN,NaN,доц. Ясько Ю.І .,доц. Пурденко О.А .,доц. Пурденко О.А .,доц. Самойленко Г.Т .,доц. Самойленко Г.Т .,доц. Самойленко Г.Т .,доц. Самойленко Г.Т .,NaN,ст.в. Гулько А.О .,доц. Пурденко О.А .,доц. Расулов Р.А .,ст.в. Кузнєцов О.Ф .,вик. Савчук Т.Л .,NaN,NaN,NaN

In [45]:
f['з 08.02 Розклад'].columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], dtype='int64')

In [46]:
f['з 08.02 Розклад'].index

RangeIndex(start=0, stop=199, step=1)

In [70]:
    d_dfs = {
        "Розклад" :  pd.DataFrame(np.array([[1,2,3],[4,5,None]]))
    }

In [71]:
d_dfs

{'Розклад':    0  1     2
 0  1  2     3
 1  4  5  None}

In [77]:
d_dfs = {
"Розклад" : pd.DataFrame(
    [
        [None, None, None, None],
        ["Номер\nтижня", "День\nтижня", "Пара\n", None],
        [None, None, None, None]
     ]
)
}

In [81]:
col0 = d_dfs["Розклад"][0]

In [80]:
col0.where("Номер\nтижня"

False

In [75]:

a = [
    [None, None, None, None],
    ["Номер\nтижня", "День\nтижня", "Пара\n", None],
    [None, None, None, None]
 ]

In [83]:
"Номер\nтижня" in col0.values

True

In [85]:
a = pd.DataFrame([])

In [93]:
a.iterrows?

In [105]:
b = d_dfs["Розклад"]

In [103]:
d_dfs["Розклад"][0]

0            None
1    Номер\nтижня
2            None
Name: 0, dtype: object

In [109]:
b.iterrows()

In [115]:
c = list(b.iterrows())[1][1]

In [116]:
type(c)

pandas.core.series.Series

In [117]:
list(c)

['Номер\nтижня', 'День\nтижня', 'Пара\n', None]

In [119]:
"Пара\n" in list(c)

True

In [120]:
c

0    Номер\nтижня
1     День\nтижня
2          Пара\n
3            None
Name: 1, dtype: object

In [129]:
dir(b)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_attrs',
 '_box_col_values',
 '_builtin_table',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_cython_table',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_item_cache',
 '_iter_column_arrays',
 '_ix',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [134]:
"1   група".split()

['1', 'група']

In [127]:
b.filter(like='Номер\nтижня', axis=0)

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [146]:
re.search?

In [143]:
import re

In [174]:
b=['Номер\nтижня', 'День\nтижня', '1 група', 'Online', None]

In [175]:
b

['Номер\nтижня', 'День\nтижня', '1 група', 'Online', None]

In [176]:
[x for x in b if x and re.search("День", x)]

['День\nтижня']